<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Адміністраторська сторінка</title>
    <link rel="stylesheet" type="text/css" href="AdminPage.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="AdminPage.js"></script>
</head>
<body>

<div class="navbar">
    <div>
        <a href="Home.html">Головна</a>
        <a href="Contacts.html">Контакти</a>
        <a href="ProductList.html">Каталог</a>
    </div>
    <div class="profile-button">
        <a href="Profile.html">Профіль/Вхід</a>
    </div>
    <div class="cart-button">
        <a href="Cart.html" class="cart-icon">&#128722;</a>
    </div>
</div>

<div class="container">
    <div class="admin-container">
        <h1>Адміністраторська сторінка</h1>
        <button id="ordersBtn" class="btn">Замовлення</button>
        <button id="usersBtn" class="btn">Користувачі</button>
    </div>
</div>

<footer class="footer-panel">
    <p>&copy; 2024 RekrutStore.ua. Усі права захищено.</p>
</footer>

</body>
</html>
