<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Доступ заблоковано</title>
    <link rel="stylesheet" type="text/css" href="Blocked.css" />
</head>
<body>
<div class="background-image"></div>

<div class="content-wrapper">
    <div class="navbar">
        <div>
            <a href="Home.html">Головна</a>
            <a href="contacts.html">Контакти</a>
            <a href="ProductList.html">Каталог</a>
        </div>
        <div class="profile-button">
            <a href="Profile.html">Профіль/Вхід</a>
        </div>
        <div class="cart-button">
            <a href="Cart.html" class="cart-icon">&#128722;</a>
        </div>
    </div>

    <div class="container">
        <div class="blocked-content">
            <div class="text-frame">
                <h1>Доступ заблоковано</h1>
                <p>Вас було занесено до чорного списку клієнтів.</p>
                <p>Якщо ви вважаєте, що сталася помилка, будь ласка, зв'яжіться з нами:</p>
                <p><a class="email">219206@kisit.kneu.edu.ua</a></p>
            </div>
        </div>
    </div>

    <footer class="footer-panel">
        <p>&copy; 2024 RekrutStore.ua. Усі права захищено.</p>
    </footer>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="Blocked.js"></script>
</body>
</html>
