<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контакти</title>
    <link rel="stylesheet" type="text/css" href="contacts.css" />
</head>
<body>
<div class="navbar">
    <div>
        <a href="Home.html">Головна</a>
        <a href="contacts.html">Контакти</a>
        <a href="ProductList.html">Каталог</a>
    </div>
    <div class="profile-button">
        <a href="Profile.html">Профіль/Вхід</a>
    </div>
    <div class="cart-button">
        <a href="Cart.html" class="cart-icon">&#128722;</a>
    </div>
</div>

<div class="container">
<section>
    <h2 class="corzina">Контакти</h2>

    <div>
        <h3>Наша адреса:</h3>
        <p>Люблін, Польща</p>
    </div>

    <div>
        <h3>Номер телефону:</h3>
        <p>+380684207605</p>
    </div>

    <div>
        <h3>Email:</h3>
        <p>219206@kisit.kneu.edu.ua</p>
    </div>
</section>
</div>

<footer>
    <p>&copy; 2024 RekrutStore.ua. Усі права захищено.</p>
</footer>

</body>
</html>
