<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Головна</title>
    <link rel="stylesheet" type="text/css" href="Home.css" />
</head>
<body>
<div class="background-image"></div>

<div class="content-wrapper">
    <div class="navbar">
        <div>
            <a href="Home.html">Головна</a>
            <a href="contacts.html">Контакти</a>
            <a href="ProductList.html">Каталог</a>
        </div>
        <div class="profile-button">
            <a href="Profile.html">Профіль/Вхід</a>
        </div>
        <div class="cart-button">
            <a href="Cart.html" class="cart-icon">&#128722;</a>
        </div>
    </div>

    <div class="container">
        <div class="home-content">
            <div class="text-frame">
                <h1>Ласкаво просимо на RekrutStore.ua!</h1>
                <p>Ми раді представити вам найкращі товари для любителів Dota 2.</p>
                <p>Оберіть з нашого широкого асортименту одягу, посуду та аксесуари.</p>
                <p>Приєднуйтесь до нашої спільноти та отримуйте задоволення від покупок!</p>
            </div>
        </div>
    </div>

    <footer class="footer-panel">
        <p>&copy; 2024 RekrutStore.ua. Усі права захищено.</p>
    </footer>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="Home.js"></script>
</body>
</html>
