<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Замовлення</title>
    <link rel="stylesheet" type="text/css" href="Accounts.css" />
    <style>

    </style>
</head>
<body>

<div class="navbar">
    <div>
        <a href="Home.html">Головна</a>
        <a href="contacts.html">Контакти</a>
        <a href="ProductList.html">Каталог</a>
    </div>
    <div class="profile-button">
        <a href="Profile.html">Профіль/Вхід</a>
    </div>
    <div class="cart-button">
        <a href="Cart.html" class="cart-icon">&#128722;</a>
    </div>
</div>

<div class="container">
    <div class="orders-container">
        <h1>Замовлення</h1>
        <div id="ordersList"></div>
        <button class="btn" id="ProductListBtn">Список товарів</button>
        <button class="btn" id="OrderPaymentsBtn">Оплата</button>
    </div>
</div>

<footer class="footer-panel">
    <p>&copy; 2024 RekrutStore.ua. Усі права захищено.</p>
</footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="Orders.js"></script>
</body>
</html>
