<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Оплата</title>
    <link rel="stylesheet" type="text/css" href="OrdersPayments.css" />
</head>
<body>
<div class="background-image"></div>

<div class="content-wrapper">
    <div class="navbar">
        <div>
            <a href="Home.html">Головна</a>
            <a href="contacts.html">Контакти</a>
            <a href="ProductList.html">Каталог</a>
        </div>
        <div class="profile-button">
            <a href="Profile.html">Профіль/Вхід</a>
        </div>
        <div class="cart-button">
            <a href="Cart.html" class="cart-icon">&#128722;</a>
        </div>
    </div>

    <div class="container">
        <div class="payment-content">
            <div class="text-frame">
                <h1>Інформація про оплату</h1>
                <p>Оплата на нашому сайті здійснюється шляхом переказу на картку. Для того щоб оплатити ваше замовлення, будь ласка, переведіть необхідну суму на зазначений рахунок та додайте коментар до переказу з номером вашого замовлення.</p>
                <p>Після перевірки оплати модерацією, ви зможете відстежувати стан вашого замовлення на сторінці замовлень.</p>
                <p>Реквізити для оплати:</p>
                <p>Номер картки: <strong class="strong">5375 4114 1437 8112</strong></p>
                <p>Отримувач: <strong class="strong">ТОВ "RekrutStore.ua"</strong></p>
                <p>Бажаємо вам приємних покупок!</p>
            </div>
        </div>
    </div>

    <footer class="footer-panel">
        <p>&copy; 2024 RekrutStore.ua. Усі права захищено.</p>
    </footer>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="Payment.js"></script>
</body>
</html>
